{% extends 'base.html'%}
{% load static %}

{%block content%}
  <!-- Showcase -->
  
  <section id="showcase">
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5">
          <h1 class="display-4 mb-4">
            Restaurante Locator
          </h1>
          <p class="lead">Why go to class on an empty stomach when you can find a classic restaurant near you full of sumptous foods? Find a restaurant near you today!
</p>
          <div class="search">
            <form action="{% url 'search' %}">
              <!-- Form Row 1 -->
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label class="sr-only">Keywords</label>
                  <input type="text" name="keywords" class="form-control" placeholder="Keyword (Restaurant Name)">
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">Univeristy</label>
                  <select name="university" class="form-control">
                    <option selected="true" disabled='disable'>University</option>
                      {% for key, value in university_choices.items %}
                        <option value = "{{ key }}">{{ value }}</option>
                      {% endfor %}
                  </select>
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">Rating</label>
                  <select name="rating" class="form-control">
                    <option selected="true" disabled="disabled">Rating</option>
                      {% for key, value in rating_choices.items %}
                        <option value = "{{ key }}">{{ value }}</option>
                      {% endfor %}
                  </select>
                </div>

              </div>
              <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Alerts -->
  {% include "partials/_alerts.html" %}
  <!-- Listings -->
  <section id="listings" class="py-5">
    <div class="container">
      <h3 class="text-center mb-3">Latest Restaurants</h3>
      <div class="row">
        {% if restaurants %}
          {% for restaurant in restaurants %}
            <!-- Listing 1 -->
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="card listing-preview">
                <img class="card-img-top" src="{% static 'img/' %}{{ restaurant.id }}.jpg" alt="" data-black="true">
                <div class="card-body">
                  <div class="listing-heading text-center">
                    <h4 class="text-primary">{{restaurant.name}}</h4>
                    <p>
                      <i class="fas fa-map-marker text-secondary"></i> {{restaurant.address}}</p>
                  </div>
                  <hr>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-star "></i> {{restaurant.rating}}</div>
                    <div class="col-6">
                      <i class="fas fa-clock"></i> Open: {{restaurant.opening_time}}</div>
                  </div>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-university"></i> {{restaurant.university}}</div>
                    <div class="col-6" style="color: red">
                      <i class="fas fa-clock fa-red" > </i> Close: {{restaurant.closing_time}}</div>
                  </div>
                  <hr>
                  <a href="{% url 'restaurant' restaurant.id %}" class="btn btn-primary btn-block">Go To >></a>
                </div>
                <p>{{restaurant.result}}</p>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <h2> No Restaurants Available</h2>
          </div>
        {% endif %}
      </div>
    </div>
  </section>

  <section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fas fa-comment fa-4x mr-4"></i>
          <hr>
          <h3>Leave a Review</h3>
          <p>Please take a moment to share your experience by leaving a detailed review about the restaurant. Your insights will help guide fellow students in making informed decisions.
</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-home fa-4x mr-4"></i>
          <hr>
          <h3>Proximity</h3>
          <p>Discover a restaurant conveniently located nearby. You don't have to venture far from campus to find a great dining spot.
</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-suitcase fa-4x mr-4"></i>
          <hr>
          <h3>Add a Restaurant</h3>
          <p>Do you have a new restaurant set up? Contact us so that we can put you on the map and in the heart of students.
.</p>
        </div>
      </div>
    </div>
  </section>
{%endblock%}