{% extends 'base.html' %}

{% block content %}
<!--Leaflet-js-->
<div id="map" style="height: 100vh; width:100%;"></div>
{{ restaurant_locations|json_script:"restaurant_locations_json" }}

<script>
    var map = L.map('map');
    map.setView([38.7223, -9.1393], 12);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    let restaurant_locations = JSON.parse(document.getElementById("restaurant_locations_json").textContent);

    var greenIcon = new L.Icon({
    iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
    shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
    iconSize: [25, 41],
    iconAnchor: [12, 41],
    popupAnchor: [1, -34],
    shadowSize: [41, 41]
    });

    // Adding a marker for the three different universities
    var novaims = L.marker([38.732167, -9.1606500],  {icon: greenIcon}).addTo(map).bindPopup("Nova IMS")
    var juame = L.marker([39.99452067965066,-0.07023616148112766],  {icon: greenIcon}).addTo(map).bindPopup("Juame I University")
    var ifgi = L.marker([51.96097257243229,7.6137847786289665],  {icon: greenIcon}).addTo(map).bindPopup("University of Münster")

    // for each station, add a marker
    restaurant_locations.forEach(restaurant_location =>{
    var restName = L.marker([restaurant_location.latitude, restaurant_location.longtitude]).addTo(map)
    .bindPopup(restaurant_location.name);
    });

   



    /*=========================================================================================
                                    Different Tiles
    ============================================================================================*/
    
    //  OSM map tile
    var osm = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Google Satellite tile 
    var googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}',{
    maxZoom: 20,
    subdomains:['mt0','mt1','mt2','mt3']
    });
    // googleSat.addTo(map)

    // google street view
    googleStreets = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}',{
    maxZoom: 20,
    subdomains:['mt0','mt1','mt2','mt3']
    });
    // googleStreets.addTo(map)

    // google hybrid
    // The hybrid will be the base map that will show because it is the last base map we typed
    googleHybrid = L.tileLayer('http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}',{
    maxZoom: 20,
    subdomains:['mt0','mt1','mt2','mt3']
    });
    // googleHybrid.addTo(map)  // This can be added to the map with the layercontrol.


    // Adding a layer control
    var baseMaps = {
    "OSM": osm,
    "Satellite Map": googleSat,
    "GoogleStreets": googleStreets,
    "Hybrid": googleHybrid,
    };
    var layerControl = L.control.layers(baseMaps).addTo(map)

    var routingControl;
    var userMarker;

    navigator.geolocation.watchPosition(success,error)

    function success(position) {
        var lat = position.coords.latitude;
        var long = position.coords.longitude;

        if (routingControl !== undefined) {
            map.removeControl(routingControl);
        }

        if (userMarker !== undefined) {
            map.removeLayer(userMarker)
        }

        // Create a CircleMarker for the user's location
        userMarker = L.circleMarker([lat, long], {
            radius: 8, // Adjust the radius as needed
            color: 'blue', // Adjust the color as needed
            fillColor: '#007bff', // Adjust the fill color as needed
            fillOpacity: 1 // Adjust the fill opacity as needed
        }).addTo(map);

        
    }

    function error(err) {
        if (err.code === 1) {
            alert("Please allow geolocation access");
        } else {
            pass;
        }
    }

    // Adding buttons that set the view to other Universitites
// Function to set the view to different coordinates
    function setViewToCoordinates(coordinates, zoomLevel) {
      map.setView(coordinates, zoomLevel);
    }

  </script>

  <!-- Create dropdown list for coordinates -->
  <div class="leaflet-control leaflet-bar" id="dropdown-container" style="position: absolute; top: 130px; right: 10px;">
    <select id="coordinatesDropdown" onchange="setViewFromDropdown()">
      <option value="" disabled selected>Select University</option>
      <option value="38.7223,-9.1393">NOVA IMS</option>
      <option value="39.99452067965066,-0.07023616148112766">Juame I, Castellon</option>
      <option value="51.96097257243229,7.6137847786289665">Ifgi, Munster</option>
    </select>
  </div>

  <script>
    function setViewFromDropdown() {
      var dropdown = document.getElementById("coordinatesDropdown");
      var selectedOption = dropdown.options[dropdown.selectedIndex].value;
      var coordinates = selectedOption.split(",").map(Number);
      map.setView(coordinates, 12);
    }

</script>
{% endblock %}